body {
  padding-top: 6rem;
}

#login {
	min-height: 40px;
	min-width: 92px;
}

.navbar-white {
	background-color: white;
}

.search-main {
	background-color: #f7f7f7;
	height: auto;
	border-bottom: 1px solid #f0f0f0;
	padding: 20px 0;
	text-align: center;
	overflow:auto;
	padding-bottom:1.5rem;
}

.search-main .search-box {
	background-color: #ffc107;
	border-radius: 4px;
	height: auto;
	width: 80%;
	margin: 0 auto;
	padding-top:1rem;
	padding-bottom: 1rem;
	overflow:auto;
}

.search-box .search-form {
	margin-left: 2rem;
	width: 55%;
	background-color: #ffffff;
	border-radius: 4px;
	float:left;
}

.search-box .search-platform {
	margin-left: 2rem;
	float:left;
}

.search-box .search-button {
	margin-left: 2rem;
	float:left;
}

.search-main .categories-box {
	width: 80%;
	margin: 0 auto;
	padding-top:1rem;
}


.categories .title {
	color: #007bff;
	font-size: 1rem;
	text-align: left;
}

.categories > ul {
	width: 100%;
}

.categories li {
	width: 25%;
    position: relative;
    display: inline-block;
    float:left;
    text-align: left;
    padding-top:1rem;
}

.add {
	height: 100%;
	width:45%;
	margin-top:3rem;
}

.add .title {
	border-bottom: 1px solid #e5e5e5;
	text-align: left;
	width: 100%;
	padding-bottom: 0.5rem;
	font-weight: 600;
	font-size:1.2rem;
	margin-top:3rem;
}

.add .box {
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
	padding-top:1rem;
	padding-bottom: 1rem;
	overflow: auto;
}

.box .label {
	width: 20%;
	text-align: right;
	display: inline-block;
	float:left;
	padding-top:0.3rem;
}

.box .input {
	display: inline-block;
	padding-left:2rem;
	width:60%;
}

.add #addButton {
	float:right;
	margin-top:1rem;
	margin-bottom: 5rem;
}

#preview {
	margin-top: 1rem;
	margin-bottom: 0.6rem;
}

#preview .img {
	display:inline-block;
	margin-left:0.5rem;
	margin-top:0.5rem;
	border: 2px solid #ffc107;
}

#preview .img img {
	width:120px;
	height:90px;
	-webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

#preview .img:hover img {
	width:140px;
	height:110px;

}

#previewText {
	display:none;
}


.adsmain {
	height: auto;
	padding: 1rem 0;
	overflow:auto;
}

.adsmain .box {
	height: auto;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 1rem;
	overflow:auto;
}

.box #boxtitle {
	text-transform: uppercase;
	font-size:1.2rem;
	padding-bottom:1rem;
	border-bottom: 1px solid #f0f0f0;
}

.ad {
	width:100%;
	border-bottom: 1px solid #f0f0f0;
	padding-top:1rem;
	padding-left:1rem;
	padding-bottom:1rem;
	float:left;
}

.adphoto {
	width:168px;
	height:130px;
	background-color:#f7f7f7;
	float:left;
}

.adphoto > img {
   display: block;
   max-width:168px; 
   height:130px;
   margin:auto;
}

.ad > .content {
	float:left;
	margin-left: 2rem;
	margin-top:0.5rem;
}

.content > .title {
	font-size:1.2rem;
}

.content > .category {
	font-size:0.8rem;
	color:#b4b4b4;
}

.content > .type {
	font-size:0.8rem;
	color:#b4b4b4;
}

.content > .date {
	margin-top:2rem;
	font-size:0.8rem;
	color:#b4b4b4;
	font-weight: 600;
}

.content > .date:first-letter {
	text-transform: uppercase;
}

.ad > .right {
	float: right;
	margin-top:0.5rem;
	margin-right: 2rem;
}

.ad > .right > .price {
	font-weight: 600;
	font-size:1.6rem;
	text-align: right;
}

.ad > .right > .opt {
	font-size:0.8rem;
	color:#b4b4b4;
	text-align: right;
}

.view {
	height: auto;
	padding: 1rem 0;
	overflow:auto;
	background: #f7f7f7;
}


.container > .vcontent {
	height: 100%;
	width: 	75%;
	margin: 0 auto;
	padding-bottom: 1rem;
}


.vcontent > .vinf {
	padding-top:1.8rem;
	width: 70%;
	margin:0 auto;
	float:left;
	background: #ffffff;
	border: 1px solid #efefef
}

.vcontent > .ads {
	margin-top:1.5rem;
}

.vcontent > .ads > .boxtitle {
	text-transform: uppercase;
    font-size: 1.2rem;
    margin-top:-1.3rem;
    padding-left: 1rem;
}


.vcontent > .ads > .ad > .adphoto > img {
	max-width: 148px;
    height: 110px;
}

.vcontent > .ads > .ad > .adphoto {
	width: 148px;
    height: 110px;
}

.vcontent > .ads > .ad > .content > .title {
	font-size:1rem;
}

.vcontent > .ads > .ad > .content > .category,
.vcontent > .ads > .ad > .content > .type,
.vcontent > .ads > .ad > .content > .date {
	font-size:0.7rem;
}

.vcontent > .ads > .ad > .right > .price {
	font-weight: 600;
    font-size: 1.3rem;
}

.vcontent > .ads > .ad > .right > .opt {
    font-size: 0.7rem;
}

.vinf > .ism-slider {
	margin:0 auto;
}

.vinf > hr {
	border-bottom: 1px solid #efefef;
	border-top: none;
	margin-top:1rem;
}

.vinf > .title {
	font-weight: 600;
	font-size:1.6rem;
	margin-left:5%;
	margin-top:2rem;
}

.vinf > .date {
	margin-left:5%;
	font-size:0.7rem;
	color:#b4b4b4;
}

.vinf > .platform > span {
	margin-left:5%;
	margin-right: 5%;
	margin-top:0.3rem;
	font-size:1rem;
	font-weight: 590;
	width: auto !important;
}

.vinf > .platform > span > img {
	width:25px;
	height:25px;
}

.vinf > .description {
	margin:5%;
}

.vinf > .opt {
	font-size:0.7rem;
	color:#b4b4b4;
	text-align: right;
	margin-right: 3%;
	margin-bottom: 0.2rem;
}


.vcontent > .vbox {
	float:right;
	width: 30%;
	height:100%;
	background: #f7f7f7;
}

.vbox > .price {
	height:auto;
	padding-top:1rem;
	padding-bottom: 1rem;
	margin-left:1rem;
	padding:0 auto;
	background: #ffffff;
	font-weight: 600;
	font-size:1.6rem;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #efefef;
}

.vbox > .price > .opt {
	font-size:0.8rem;
	font-weight: 500;
	color:#b4b4b4;
}

.vbox > .msg {
	height:4rem;
	padding-top:1rem;
	padding:0 auto;
	margin-top:1rem;
	margin-left:1rem;
	border-radius: 4px;
	border: 1px solid #efefef;
	background: #0098d0;
	color:#ffffff;
	font-weight: 600;
	font-size:1.2rem;
	text-align: center;

}

.vbox > .msg:hover {
	background: #00a3e0;
}

.vbox > .profile {
	height:auto;
	padding-top:1rem;
	padding-bottom:1rem;
	padding:0 auto;
	margin-top:1rem;
	margin-left:1rem;
	border-radius: 4px;
	border: 1px solid #efefef;
	background: #ffffff;
	font-weight: 600;
	font-size:1.2rem;
	text-align: center;
}

.vbox > .profile > img {
	width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.vbox > .profile > .name {
	margin: 0 auto;
}

.vbox > .profile > .opt {
	font-size:0.75rem;
	color:#b4b4b4;
	text-align: center;
	font-weight: 400;
}

.vbox > .profile > .status {
	text-align: center;
	margin-top:1rem;
	font-size:2rem;
}

.vcontent > .profile {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	border: 1px solid #efefef;
	padding: 1.5rem;
}

footer > .container {
	min-height: 242px;
}

footer > .container > .wrapper {
	margin: auto;
    padding: 15px;
    width: 80%;
}

footer > .container > .wrapper > ul {
	width: 20%;
	list-style: none;
	color:#414141;
	font-size: 11px;
}

footer > .container > .wrapper > li:hover {
	color: #0098d0;
    background-color: transparent;
}
